<h2>Moji podatci</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="field mb-3">
    <%= f.label :first_name, class:"form-label" %><br />
    <%= f.text_field :first_name, autofocus: true, autocomplete: "first_name", class:"form-control" %>
  </div>

  <div class="field mb-3">
    <%= f.label :last_name, class:"form-label" %><br />
    <%= f.text_field :last_name, autocomplete: "last_name", class:"form-control" %>
  </div>

  <div class="field mb-3">
    <%= f.label :email, class:"form-label" %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email", class:"form-control" %>
  </div>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>

  <div class="field mb-3">
    <%= f.label :password, class:"form-label" %> <i>(leave blank if you don't want to change it)</i><br />
    <%= f.password_field :password, autocomplete: "new-password", class:"form-control" %>
    <% if @minimum_password_length %>
      <em><%= @minimum_password_length %> characters minimum</em>
    <% end %>
  </div>

  <div class="field mb-3">
    <%= f.label :password_confirmation, class:"form-label" %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password", class:"form-control" %>
  </div>

  <div class="field mb-3">
    <%= f.label :current_password, class:"form-label" %> <i>(we need your current password to confirm your changes)</i><br />
    <%= f.password_field :current_password, autocomplete: "current-password", class:"form-control" %>
  </div>

  <div class="actions">
    <%= f.submit "Update", class:"btn btn-dark", style:"background-color: #de3b09" %>
  </div>
<% end %>

<br/>

<h3>Brisanje računa</h3>
<p>Jednom kada obrišete račun ne postoji mogućnost povratka!</p>
<p><%= button_to "Obriši račun", registration_path(resource_name), data: { confirm: "Jeste li sigurni?" }, method: :delete, class:"btn btn-danger" %></p>
