<h2>Registrirajte se</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|%>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="field mb-3">
    <%= f.label :first_name, class:"form-label" %><br />
    <%= f.text_field :first_name, :required => true, :minlength => 2, autofocus: true, autocomplete: "Ime", class:"form-control" %>
  </div>

  <div class="field mb-3">
    <%= f.label :last_name, class:"form-label" %><br />
    <%= f.text_field :last_name, :required => true, :minlength => 2, autocomplete: "Prezime", class:"form-control" %>
  </div>

  <div class="field mb-3">
    <%= f.label :email, class:"form-label" %><br />
    <%= f.email_field :email, :required => true, :minlength => 5, autocomplete: "email", class:"form-control" %>
  </div>

  <div class="field mb-3">
    <%= f.label :password, class:"form-label" %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "Lozinka", class:"form-control" %>
  </div>

  <div class="field mb-3">
    <%= f.label :password_confirmation, class:"form-label" %><br />
    <%= f.password_field :password_confirmation, autocomplete: "Ponovljena lozinka", class:"form-control" %>
  </div>

  <div class="actions">
    <%= f.submit "Sign up", class:"btn btn-dark", style:"background-color: #de3b09" %>
  </div>
<% end %>

<% render "devise/shared/links" %>
