<div class="container">
  <div class="row gy-5">
    <div class="col p-3 border bg-light">
      <h1>Podatci</h1>
      <%= form_with url: @transport.id.to_s do |form| %>
        <div class="mb-3">
          <%= form.label :input_name, "Ime", class:"form-label" %>
          <%= form.text_field :input_name, :required => true, :minlength => 2, class:"form-control", value:current_user.first_name + " " + current_user.last_name %>
        </div>

        <div class="mb-3">
          <%= form.label :input_email, "Email", class:"form-label" %>
          <%= form.email_field :input_email, :required => true, :minlength => 5, class:"form-control", value: current_user.email %>
        </div>

        <div class="mb-3">
          <%= form.label :input_card_num, "Broj kartice", class:"form-label" %>
          <%= form.text_field :input_card_num, :required => true, :minlength => 10, class:"form-control"%>
        </div>

        <%= form.submit "Kupi", class:"btn btn-dark", style:"background-color: #de3b09" %>
      <% end %>
    </div>
    <div class="col d-flex justify-content-center">
      <div class="card w-50" style="align:center">
        <h5 class="card-header">Karta</h5>
        <div class="card-body">
          <p class="card-text">Prijevoznik: <%= @transport.company.name %></p>
          <p class="card-text">Polazak: <%= @transport.departure.strftime("%d/%m/%Y %H:%M") %></p>
          <p class="card-text">Dolazak: <%= @transport.arrival.strftime("%d/%m/%Y %H:%M") %></p>
          <p class="card-text">Cijena: <%= @transport.price %></p>
        </div>
      </div>
    </div>
  </div>
</div>