<h1>Dostupni prijevozi</h1>

<table class="table table-sm table-striped table-hover align-middle">
  <thead>
    <tr>
      <th>Prijevoznik</th>
      <th>Polazak</th>
      <th>Dolazak</th>
      <th>Preostalo karata</th>
      <th>Cijena</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @transports.sort %>
    <% @transports.each do |transport| %>
      <% available_tickets = transport.nTickets - transport.tickets.length %>
      <tr>
        <td><%= transport.company.name %></td>
        <td><%= transport.departure.strftime("%d/%m/%Y %H:%M") %></td>
        <td><%= transport.arrival.strftime("%d/%m/%Y %H:%M") %></td>
        <td><%= available_tickets %></td>
        <td><%= transport.price %></td>
        <% if available_tickets > 0 %>
          <td><%= link_to "Kupi", checkout_path(transport), class:"btn btn-dark", style:"background-color: #de3b09" %></td>
        <% else %>
          <td><a class="btn btn-dark disabled", style="background-color: #756d6d" aria-disabled="true"> Kupi </a></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
