<h1>Moje karte</h1>

<table class="table table-sm table-striped table-hover align-middle">
  <thead>
    <tr>
      <th>Prijevoznik</th>
      <th>Polazak</th>
      <th>Dolazak</th>
      <th>Cijena</th>
      <th>Ime</th>
      <th>Email</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% current_time = Time.new() %>
    <% @tickets.each do |ticket| %>
      <% transport = ticket.transport %>
      <tr>
        <td><%= transport.company.name %></td>
        <td><%= transport.departure.strftime("%d/%m/%Y %H:%M") %></td>
        <td><%= transport.arrival.strftime("%d/%m/%Y %H:%M") %></td>
        <td><%= transport.price %></td>
        <td><%= ticket.name %></td>
        <td><%= ticket.email %></td>
        <% if (transport.departure - current_time) < 3600 %>
          <td><a class="btn btn-dark disabled", style="background-color: #756d6d" aria-disabled="true"> Otkaži </a></td>
        <% else %>
          <td><%= link_to "Otkaži", cancel_ticket_path(ticket), method: :delete, data: { confirm: "Jeste li sigurni?" }, class:"btn btn-dark", style:"background-color: #de3b09"%></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>