<nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #de3b09">
  <div class="container-fluid">
    <%= link_to "SKK Karte", root_path, class:"navbar-brand" %>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <% if user_signed_in? %>

        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <%= link_to "Moj profil", edit_user_registration_path, class:"nav-link" %>
          </li>

          <li class="nav-item">
            <%= link_to "Moje karte", user_tickets_path, class:"nav-link" %>
          </li>
        </ul>

        <span class="navbar-text pe-4"><%= current_user.first_name + ' ' + current_user.last_name %></span>
        
        <ul class="navbar-nav me-2 mb-2 mb-lg-0">
          <li class="nav-item">
            <%= link_to "Odjava", destroy_user_session_path, method: :delete, class:"nav-link" %>
          </li>
        </ul>   

      <% else %>

        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <%= link_to "Registracija", new_user_registration_path, class:"nav-link" %>
          </li>
        </ul>

        <ul class="navbar-nav me-2 mb-2 mb-lg-0">
          <li class="nav-item">
            <%= link_to "Prijava", new_user_session_path, class:"nav-link" %>
          </li>
        </ul>

      <% end %>

    </div>
  </div>
</nav>